@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.container1 {
    height: 90vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 60px;
}

.card {
    width: 580px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 5px 0px, rgba(0, 0, 0, 0.6) 0px 0px 1px 0px;
    margin-bottom: 50px;
}

.upper {
    background-color: #060b26;
    height: 100px;
    border-radius: 15px;

}

.user {
    position: relative
}

h4{
    text-transform: uppercase;
    
}

.profile {
    padding-top: 3px;
    position: absolute;
    top: -50px;
    left: 42%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%
}

.user_profile_details{
    margin-left: 20px;
}

small{
    font-size:11px;
    color: red;
}

.user_profile_details p{
    color: #969695;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
}

#card{
    display:none;
}